@import "../../css/_variables";

:host {
  background-color: hsl(187, 100%, 90%);
  border: 2px solid blue;

  height: 100%;
  display: block;
}

:host /deep/ {
  //display: flex;

  cpf-content {
    display: block;
    height: 100%;
  }

  cpf-nav {
    display: block;
    width: 25%;
    overflow: scroll;
    background-color: #2aabd2;
    height: 100%;
    position: fixed;
  }

  cpf-main {
    margin-left: 50%;
    width: 50%;
    //flex: 1 1 70%;
    //flex-basis: 70%;
    border: 1px solid red;
    //align-items: stretch;
    background-color: #9d9d9d;
    overflow: hidden;
  }

}

:host-context(body.debug) cpf-content {
  //outline: solid green;
  border: solid green 2px;
}
