@import "../../css/_variables";

:host {
  background-color: hsl(187, 100%, 95%);
  border: 2px solid blue;

  height: 100%;
  display: block;
}

:host /deep/ {

  //button {
  //  background-image: linear-gradient(to bottom, #591DFF, #47A1DB);
  //  box-shadow: 0 0.25em 1em #1b6d85;
  //  border-radius: 2em;
  //}

  button {
    margin-top: -120px;
  }

  button {
    box-sizing: border-box;
    cursor: pointer;
    border: 0;
    padding: .5em 1em;
    color: #fff;
    border-radius: .25em;
    font-size: 1em;
    background-color: #173b6d;
    background-image: -webkit-linear-gradient(top, #1a4a8e, #173b6d);
    background-image: -moz-linear-gradient(top, #1a4a8e, #173b6d);
    background-image: -o-linear-gradient(top, #1a4a8e, #173b6d);
    background-image: linear-gradient(to bottom, #1a4a8e, #173b6d);
    box-shadow: 0 .25em 0 rgba(23, 59, 109, 0.3), inset 0 1px 0 rgba(0, 0, 0, 0.3);
  }
  button:focus {
    outline: 0;
    background-color: #2158a9;
    background-image: -webkit-linear-gradient(top, #2063c0, #1d4d90);
    background-image: -moz-linear-gradient(top, #2063c0, #1d4d90);
    background-image: -o-linear-gradient(top, #2063c0, #1d4d90);
    background-image: linear-gradient(to bottom, #2063c0, #1d4d90);
    box-shadow: 0 .25em 0 rgba(23, 59, 109, 0.3),
    inset 0 1px 0 rgba(0, 0, 0, 0.3);
  }

  b {
    font-weight: bold;
    //color: red;
  }

  img {
    max-width: 100%;
  }

  //img[wwidth] {
  //  //width: 50%;
  //  width: 50%;
  //}

  img.wwidth {
    //width: 50%;
    width: 50%;
  }
  .selected {
    border: 1px solid red;
  }

  #saveContent {
    position: fixed;
    top: 20px;
  }

  cpf-content {
    display: block;
    height: 100%;
    //max-width: $maxContainerWidth;
    width: 100%;
    margin: 0 auto;
  }

  cpf-nav {
    display: block;
    heigth: 100%;
    //overflow: hidden;
    background-color: hsl(187, 100%, 85%);
    position: fixed;
    top: $containerMargin;
    width: 25%;
    //display: none;
  }

  div.main {
    heigth: 100%;
    background-color: hsl(187, 100%, 95%);
    margin: 0 35% 0 25%;
    //overflow-x: scroll;
    overflow: hidden;
  }

  div.info {
    position: fixed;
    top: $containerMargin;
    width: 35%;
    right: 0;
  }

  cpf-normtext {
    height: 100%;
  }

  .info-tabs-container {
    margin-left: 50%;
    width: 50%
  }

  .info-tabs  {
    display: flex;

    border: 4px solid green;
    justify-content: flex-start;

    li {
      border: 1px solid red;
      flex-grow: 1;
    }
  }

}

:host-context(body.debug) cpf-content {
  //outline: solid green;
  border: solid green 2px;
}


//cpf-main {
//  display: block;
//  margin-left: 25%;
//  width: 75%;
//
//  border: 1px solid red;
//  background-color: hsl(187, 100%, 95%);
//}
