
<!--<pre>{{contentData | json}}</pre>-->

  <div *ngFor="let normtextItem of contentData?.cpfNodes; let i1=index;" #proItem>
    <!--contentData?.type: {{contentData?.type}}-->
    <!--<pre>{{normtextItem | json}}</pre>-->
    <div>
      {{normtextItem.text}}
    </div>

    <div *ngIf="normtextItem.moreinfo" (click)="onClick('moreinfo', i1)">
      <i class="fa fa-car"></i>
    </div>
    <div *ngIf="normtextItem.comment" (click)="onClick('comment', i1)">
      <i class="fa fa-comment"></i>
    </div>

    <div *ngIf="edit">
      <i class="fa fa-edit" (click)="onEditClick('edit', i1)"></i>
      <i class="fa fa-plus" (click)="onEditClick('add', i1)"></i>
      <i class="fa fa-plus-circle" (click)="onEditClick('insert', i1)"></i>
      <i class="fa fa-minus" (click)="onEditClick('delete', i1)"></i>
      <i class="fa fa-plus-square" (click)="onEditClick('addLast', i1)"></i>
    </div>

    <div *ngIf="i1===contentData.selectedIndex">

      !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!11

      <!--<div *ngFor="let infoItem of subContentData?.cpfNodes; let i2=index;">-->
        <!--infoItem-->
      <!--</div>-->
    </div>
  </div>

  <!--<pre>contentData: {{contentData | json}}</pre>-->
