
<!--<pre>{{contentData | json}}</pre>-->

  <div *ngFor="let normtextItem of contentData?.cpfNodes; let i1=index;" #proItem>
    <!--contentData?.type: {{contentData?.type}}-->
    <!--<pre>{{normtextItem | json}}</pre>-->
    <div (click)="onClick(i1, contentData?.type)">
      {{normtextItem.text}}
    </div>

    <div *ngIf="i1===contentData.selectedIndex">

      !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!11

      <!--<div *ngFor="let infoItem of subContentData?.cpfNodes; let i2=index;">-->
        <!--infoItem-->
      <!--</div>-->
    </div>
  </div>


  <!--<pre>contentData: {{contentData | json}}</pre>-->
