<p>
  main works!
</p>



<!--<div *ngFor="let contentItem of contentData?.pathData?.selectedPathNode?.cpfNodes;
              let i = index;" (click)="onClick($event, i)">
  {{ contentItem.text }}
 &lt;!&ndash;<pre> {{contentItem | json}} </pre>&ndash;&gt;
</div>

<pre>main-contentData selectedPathNodeIndex: {{ contentData?.pathData?.selectedPathNodeIndex | json }}</pre>
<pre>main-contentData selectedPathNode: {{ contentData?.pathData?.selectedPathNode | json }}</pre>

&lt;!&ndash;contentData: {{ contentData | json }}&ndash;&gt;
<div>
  <pre>main-contentData: {{ contentData | json }}</pre>
</div>-->
