<!--<div class="cpf-content-fixed">-->
  <!--<div class="main-container">-->

  <!--</div>-->
<!--</div>-->


<!--<div class="main">-->
  <cpf-normtext [contentData]="contentData"
                (uiChange)="onUiChange($event)">
  </cpf-normtext>

  urlPath of main: {{urlPath}}
<!--</div>-->



<!--<div class="main">-->


  <!--<pre>contentData: {{contentData | json}}</pre>-->

  <!--<div *ngFor="let main of contentData?.cpfNodes; let i1=index;" #proItem>-->
    <!--<div (click)="onClick(i1, contentData?.type)">-->
      <!--<pre>{{main | json}}</pre>-->
    <!--</div>-->

    <!--&lt;!&ndash;<div *ngFor="let info of main?.subprojects; let i2=index;" #subItem>&ndash;&gt;-->
      <!--&lt;!&ndash;<div *ngIf="i1===contentData?.selectedIndex">&ndash;&gt;-->

        <!--&lt;!&ndash;<div (click)="onClick(i2, 'subprojects')">&ndash;&gt;-->
          <!--&lt;!&ndash;{{subproject?.properties?.title}}&ndash;&gt;-->
        <!--&lt;!&ndash;</div>&ndash;&gt;-->

        <!--&lt;!&ndash;<cpf-nav-more [contentData]="navMoreContentData"></cpf-nav-more>&ndash;&gt;-->

      <!--&lt;!&ndash;</div>&ndash;&gt;-->
    <!--&lt;!&ndash;</div>&ndash;&gt;-->
  <!--</div>-->
<!--</div>-->

<!--<button (click)="onClick()">onClick</button>-->


<!--<div>projects:</div>-->

<!--&lt;!&ndash;<pre *ngIf="contentData?.projects">{{ contentData?.projects[0] | json }}</pre>&ndash;&gt;-->


<!--<div *ngFor="let contentItem of contentData?.projects;-->
              <!--let i = index;" (click)="onClick($event, i)">-->
  <!--&lt;!&ndash;{{ contentItem.text }}&ndash;&gt;-->
  <!--<pre> {{contentItem | json}} </pre>-->
<!--</div>-->




<!--<pre>projects: {{ contentData?.projects[0] | json }}</pre>-->

<!--<pre>main-data: {{ contentData | json }}</pre>-->




<!--<pre>main-contentData selectedPathNodeIndex: {{ contentData?.pathData?.selectedPathNodeIndex | json }}</pre>
<pre>main-contentData selectedPathNode: {{ contentData?.pathData?.selectedPathNode | json }}</pre>

&lt;!&ndash;contentData: {{ contentData | json }}&ndash;&gt;
<div>
  <pre>main-contentData: {{ contentData | json }}</pre>
</div>-->
