<div class="xxcontent xxrow">
  <cpf-nav  class="xxxcol"
            [contentData]="(allContentData$ | async).navContent"
            [navMoreContentData]="(allContentData$ | async).navMoreContent"
            (uiChange)="uiChange($event)">
  </cpf-nav>

  <cpf-main class="xxcol"
            [contentData]="(allContentData$ | async).mainContent"
            [urlPath]="urlPath$ | async"
            (newUrlPath)="newUrlPath($event)">
  </cpf-main>
</div>


<!--<div class="content row">-->
  <!--<div  class="col">-->
    <!--DIV1-->
  <!--</div>-->

  <!--<div class="col">-->
    <!--DIV2-->
  <!--</div>-->
<!--</div>-->


<!--<cpf-nav></cpf-nav>-->

<!--<cpf-main [contentData]="mainContentVM" (uiChange)="uiChange($event)"></cpf-main>-->


<!--<cpf-nav-more></cpf-nav-more>-->
