
<div class="cpf-content-fixed">
  <div class="nav-container">
    <!--abc-->
    <cpf-nav
        [contentData]="(allContentData$ | async).navContent"
        [subContentData]="(allContentData$ | async).navSubContent"
        [navMoreContentData]="(allContentData$ | async).navMoreContent"
        (uiChange)="uiChange($event)">
    </cpf-nav>
  </div>
</div>

  <cpf-main
        [contentData]="(allContentData$ | async).mainContent">
        [subContentData]="(allContentData$ | async).mainSubContent"
        (uiChange)="uiChange($event)">
  </cpf-main>

