<p>
  reactive-forms works!
  Model driven Form
</p>

<form [formGroup]="myForm" autocomplete="off" novalidate>

    <div class="form-field">
      <label>Title</label>
      <input formControlName="title" required minlength="3">
      <div class="field-error-message"
            *ngIf="myForm.controls.title.errors?.required">field is mandatory</div>
      <div class="field-error-message"
           *ngIf="myForm.controls.title.errors?.minlength">at least threee chars required</div>
    </div>
    <div class="form-field">
      <label>Duration</label>
      <input [formControl]="duration">
    </div>
    <div class="form-field">
      <label>Description</label>
      <textarea formControlName="description" id="" cols="30" rows="10"></textarea>
    </div>

    <div class="form-field">
      <button class="lesson-button" type="submit">Create Lesson</button>
    </div>

</form>


<fieldset class="debug">
  <!--<legend>Long text fields</legend>-->
  <!--<div class="form-field">-->
  <!--<label for="">Description:</label>-->
  <!--<textarea name="description" id="" [(ngModel)]="lesson.description"required></textarea>-->
  <!--</div>-->
  Lesson Value:
  <pre>{{lesson | json}}</pre>
</fieldset>
